{% extends "shop/base.html" %}
{% load static %}

{% block top_background_wrapper %}
<div class="bgded overlay" style="background-image:url({% static '/images/demo/companylogo.png' %});">
{% endblock %}
{% block wrapper_row1 %}
    <div id="pageintro" class="hoc clear">
        <article>
            <h2 class="heading">FriendlyPC</h2>
            <p>The best PC parts</p>
            <footer><a class="btn" href="{% url 'shop:product_list' %}">SHOP NOW</a></footer>
        </article>

    </div>
{% endblock wrapper_row1 %}

{% block content %}
    <div class="wrapper row3">
    <main class="hoc container clear">
        
        <article class="group btmspace-80">
        <div class="one_half first"><img class="inspace-10 borderedbox" src="{% static 'images/demo/article.jpg' %}" alt=""></div>
        <div class="one_half">
            <p class="nospace font-xs">How to build a PC</p>
            <h3 class="heading">Build your own pc is the best way to earn geek cred -- here's how to do it</h3>
            <p>Building a computer used to be a complicated process where careful selection of delicate parts was a necessity. When that collection of components finally booted for the first time, it was a triumphant experience. Knowing how to build a computer made you quite the tech-head.</p>
            <footer><a href="#">Read More &raquo;</a></footer>
        </div>
        </article>
      
        <hr class="btmspace-80">
        
        <div class="center btmspace-80">
        <h3 class="heading">Our services</h3>
        <p class="nospace">We provide the best PC parts, and provide 24/7 support to help you with any questions you may have</p>
        </div>
        <ul class="nospace group cta">
        <li class="one_third first">
            <article><a href="#"><i class="fa fa-gamepad"></i></a>
            <h6 class="heading">Best gaming rigs</h6>
            <p>We supply the best parts for any games that you may be interested in<p>
            </article>
        </li>
        <li class="one_third">
            <article><a href="#"><i class="fa fa-location-arrow"></i></a>
            <h6 class="heading">Fast solutions</h6>
            <p>We provide fast deliveries and reliable supply</p>
            </article>
        </li>
        <li class="one_third">
            <article><a href="#"><i class="fa fa-phone"></i></a>
            <h6 class="heading">24/7 Support</h6>
            <p>We provide support for any time of the day, just call one of our agents</p>
            </article>
        </li>
        </ul>
       
        <div class="clear"></div>
    </main>
    </div>



</div>


{% endblock %}





