{% extends "shop/base.html" %}
{% load static %}

{% block top_background_wrapper %}
    <div class="bgded overlay" style="background-image:url({% static '/images/demo/backgrounds/01.png' %});">
{% endblock %}

{% block content %}
    <div class="wrapper row2">
        <div id="breadcrumb" class="hoc clear">

            <ul>
                <li><a href="{% url 'shop:home' %}">Home</a></li>
                <li><a href="{% url 'shop:product_list' %}">Products</a></li>
            </ul>

        </div>
    </div>
    </div>



    <div class="wrapper row3">
        <main class="hoc container clear">
            <div id="category-sidebar">
                <h3>Categories</h3>
                <ul>
                    <li {% if not category %}class="selected"{% endif %}>
                        <a href="{% url "shop:product_list" %}">All</a>
                    </li>
                    {% for c in categories %}
                        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>


            <div class="content">

                <div id="gallery">
                    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>

                    <figure>
                        <div>
                            <ul>
                                {% for product in products %}
                                    <li class="one_quarter"><a href="{{ product.get_absolute_url }}">
                                        <img style="width: 220px;height: 150px;" src="


                                            {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                                    </a>
                                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                                        ${{ product.price }}
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </figure>

                </div>

                <nav class="pagination">
                    <ul>
                        <li><a href="#">&laquo; Previous</a></li>
                        <li class="current"><strong>1</strong></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">Next &raquo;</a></li>
                    </ul>
                </nav>

            </div>

            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
{% endblock %}
