{% extends "shop/base.html" %}
{% load static %}
{% load watermark %}
{% load crispy_forms_tags %}

{% block style_page %}
{% endblock style_page %}
{% block top_background_wrapper %}
    <div class="bgded overlay" style="background-image:url({% static '/images/demo/companylogo.png' %});">
{% endblock %}

{% block content %}

    <div class="wrapper row3">
        <main class="hoc container clear">
            <article class="group btmspace-80">
                <div class="one_half first">
                    <img class="inspace-10 borderedbox" src="
                    {% if profile.image %}
                    {{ profile.image.url }}
                    {% else %}{% static "img/no_image.png" %}
                    {% endif %}"
                         style="border-radius: 60%;
                         border-color: darkred;
                         padding: 0px;
                         border-width: 5px;
                         background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%,
                             rgba(0, 0, 0, 1) 100%),
                              linear-gradient(to bottom,
                               rgba(0, 0, 0, 1) 0%,
                                rgba(0, 0, 0, 1) 100%);"
                         alt="">
                </div>
                <div class="one_half">
                    <p class="nospace font-xs"><b>Username:</b>
                        {{ profile.user.username }}

                        <a href="{{ product.category.get_absolute_url }}">
                            {{ product.category }}
                        </a>
                    </p>
                    <h3 class="heading"><b>First Name:</b>{{ profile.first_name }}<br/><b>Last
                        Name:</b> {{ profile.last_name }}</h3>
                    <p>{{ profile.description }}</p>
                    <blockquote>{{ profile.quote }}
                    </blockquote>
                    <p>{{ profile.user.email }}</p>
                    <p><a href="{% url 'mydata' %}">Download my data (pdf)<p>
                    <footer><a href="{% url 'change_profile' %}">Edit &raquo;</a></footer>
                </div>
            </article>
            <hr class="btmspace-80">
            
        </main>
    </div>

{% endblock %}

{% block script_page %}
{% endblock script_page %}
