{% extends "shop/base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block title_tag %}Change Profile | {{block.super}}  {% endblock %}

{% block content%}
<div class="container">

    <h1>Change Profile</h1>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Change your Profile</legend>
            {{ user_form| crispy}}
            {{ profile_form| crispy}}
        </fieldset>
    <input type="submit" value="Change" class="btn btn-default">


    </form>
<div class="border-top pt-3 mt-5">
    <small class="text-muted">
        Do not want to change anything? <a href="{% url 'shop:profile' %}" class="ml-2"> To Profile! </a>
    </small>
</div>

</div>

{% endblock %}
